ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#66ff99;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #4133ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2vw;
  }
  
  li a:hover {
    background-color:#ff33f5;
  }
  body{
    background: linear-gradient(to bottom left, #33ccff 0%, #66ff99 100%);
	margin: 0 auto;
	width: fit-content;
	color:white;
}
